<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=16683959539";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="row row-2">
<section class="column column-1 grid-left-0 grid-width-5">
<aside id="block-7" class="block block-type-widget-area block-fluid-height"><div class="block-content"><ul class="widget-area"><li id="soundcloud_is_gold_widget-4" class="widget widget_soundcloud_is_gold_widget">
<div class="soundcloudIsGold " id="soundcloud-95411274"><object height="100%" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F95411274&amp;auto_play=false&amp;player_type=artwork&amp;show_comments=false&amp;color=151413"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="100%" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F95411274&amp;auto_play=false&amp;player_type=artwork&amp;show_comments=false&amp;color=151413" type="application/x-shockwave-flash" width="100%"></embed></object></div><div class="soundcloudIsGold " id="soundcloud-94743136"><object height="100%" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F94743136&amp;auto_play=&amp;player_type=artwork&amp;show_comments=false&amp;color=151413"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="100%" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F94743136&amp;auto_play=&amp;player_type=artwork&amp;show_comments=false&amp;color=151413" type="application/x-shockwave-flash" width="100%"></embed></object></div><div class="soundcloudIsGold " id="soundcloud-84515452"><object height="100%" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F84515452&amp;auto_play=&amp;player_type=artwork&amp;show_comments=false&amp;color=151413"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="100%" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F84515452&amp;auto_play=&amp;player_type=artwork&amp;show_comments=false&amp;color=151413" type="application/x-shockwave-flash" width="100%"></embed></object></div><div class="soundcloudIsGold " id="soundcloud-75263015"><object height="100%" width="100%"><param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75263015&amp;auto_play=&amp;player_type=artwork&amp;show_comments=false&amp;color=151413"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="100%" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F75263015&amp;auto_play=&amp;player_type=artwork&amp;show_comments=false&amp;color=151413" type="application/x-shockwave-flash" width="100%"></embed></object></div></li><!-- .widget -->
</ul></div><!-- .block-content -->
</aside><!-- #block-7 -->
</section><!-- .column --><section class="column column-2 grid-left-0 grid-width-15">
<header id="block-5" class="block block-type-header block-fixed-height"><div class="block-content"><a href="http://www.6toesmusic.com" class="banner-image"><img src="assets/6Toes-Logo-Black-and-Whitealpha3.png" alt="6Toes Music" /></a></div><!-- .block-content -->

</header><!-- #block-5 -->
<fb:like href="http://www.6toesmusic.com/" send="true" width="450" show_faces="false"></fb:like><fb:follow href="https://www.facebook.com/Official6Toes" show_faces="false" width="450"></fb:follow>
</section><!-- .column --></section><!-- .row -->

</div><!-- .grid-container -->

</div><!-- .wrapper -->



</div><!-- #whitewrap -->